---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "global";

body, html {
  cursor: url(http://www.rw-designer.com/cursor-view/36196.gif), default;
  height: 100%;
}

.menu-trigger {
    top: 15px;
    left: 15px;
    z-index: 1080;
    position: fixed;
    display: block;
    height: 40px;
    width: 40px;
    background: #9d2425;
    padding-top: 8px;
    cursor: pointer;
}

.btn-primary {
    background: #2e2b49;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

#jPanelMenu-menu li a {
    color: #DADADA;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border-bottom: 0 transparent;
    font-size: 12px;
    font-size: 1.5rem;
}

#avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('/img/jesse2.jpg');

    /* make a square container */
    width: 150px;
    height: 150px;

    border-bottom: 50px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}
