<section class="sidebar col-md-5 col-sm-12" style='background-image: url({{"/img/swiss"}}.jpg);'>
    <!-- <div class="ribbon"><span>For Hire!</span></div> -->

    <div class="animated fadeInDown">
      <span class="menu-trigger">
      <div id="nav-icon1">
        <span></span>
        <span></span>
        <span></span>
      </div>
      </span>
    </div>




    {% include nav-no-js.html %}

    <div class="site-info">
        <div class="primary-info">
          <div>
            <div class="animated fadeInUp">
              <div id="avatar">
              </div>
            </div>

            <div class="animated fadeInLeft">
              <h1 class="demo">{{ page.title }}</h1>
              <p class="demo">{{ page.desc }}</p>
            </div>
          </div>
        </div>

        {% if page.include_cta_btn == true %}
        <div class="secondary-info">
            <p>
                <a class="btn btn-primary" onclick="myFunction()"><i class="fa {{ page.cta_icon }}"></i>{{page.cta_text}}</a>
            </p>
        </div>
        {% endif %}
    </div>
</section><!-- end sidebar -->
<script>
function myFunction() {
  alert("You won! Type '1up' on any page to receive an extra life! 🍄");
}
</script>
