<section class="sidebar col-md-5 col-sm-12" style='background-image: url({{"/img/" | append: page.feature_image | prepend: site.baseurl }}.jpg);'>

    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    {% include nav-no-js.html %}

    <div class="site-info">
        <div class="primary-info">
          <div>
            <div class="animated fadeInUp">
              <div id="avatar">
              </div>
            </div>

            <h1 class="demo">{{ page.title }}</h1>
            <p class="demo">{{ page.desc }}</p>
          </div>
        </div>

        <!-- {% if page.include_cta_btn == true %}
        <div class="secondary-info">
            <p>
                <a class="btn btn-primary" href="{{ page.cta_link | prepend: site.baseurl }}"><i class="fa {{ page.cta_icon }}"></i>{{page.cta_text}}</a>
            </p>
        </div>
        {% endif %} -->
    </div>
</section><!-- end sidebar -->

<script>

(function ( $ ) {
    $.fn.typewrite = function ( options ) {
        var settings = {
            'selector': this,
            'extra_char': '_',
            'delay':    100,
            'trim':     false,
            'callback': null
        };
        if (options) $.extend(settings, options);

        /* This extra closure makes it so each element
         * matched by the selector runs sequentially, instead
         * of all at the same time. */
        function type_next_element(index) {
            var current_element = $(settings.selector[index]);
            var final_text = current_element.text();
            if (settings.trim) final_text = $.trim(final_text);
            current_element.html("").show();

            function type_next_character(element, i) {
                element.html( final_text.substr(0, i)+settings.extra_char );
                if (final_text.length >= i) {
                    setTimeout(function() {
                        type_next_character(element, i+1);
                    }, settings.delay);
                }
                else {
                    if (++index < settings.selector.length) {
                        type_next_element(index);
                    }
                    else if (settings.callback) settings.callback();
                }
            }
            type_next_character(current_element, 0);
        }
        type_next_element(0);

        return this;
    };
})(jQuery);



$(document).ready(function() {

    $('.demo').typewrite({
        'callback': function(){
            $('.demo').css();
        },
        'delay': 100
    });
});
</script>
