---
layout: with-sidebar
feature_image: swiss
---

<style>
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0,0,0,0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 50px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
</style>


<div class="sub-nav animated fadeInRight">
    <a href="#" class="select-posts active">Posts</a>
    <a href="#" class="select-categories">Categories</a>
</div>

<div class="home-page-posts animated fadeIn ">
    {% for post in site.posts %}

    <article class="post">
        <div class="post-preview col-xs-12  no-gutter">

          <div class="hovereffect">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <img src="{{ site.baseurl}}/img/{{ post.feature_image }}.jpg" class="animated fadeInLeft">
            </a>
            <div class="overlay">
               <h2>{{ post.title }}</h2>
               <a href="{{ post.url | prepend: site.baseurl }}">
            </div>
        
<!--
            <a href="{{ post.url | prepend: site.baseurl }}">
              <img src="{{ site.baseurl}}/img/{{ post.feature_image }}.jpg" class="animated fadeInLeft">
            </a>
            <br />
            <div class="animated fadeInRight">
              <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2> -->

              {{ post.excerpt | truncatewords: 28 }}

              <p class="meta">
                  <a href="{{ post.author_url | prepend: site.baseurl }}">{{ post.author_name | capitalize}}</a> in <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize }}</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ post.read_time }} minutes
              </p>
            </div>
        </div>
    </article>
    {% endfor %}

</div><!-- Home page posts -->

<div class="home-page-categories hide animated fadeIn ">
    <div class="category row">
        <section>
            {% for category in site.categories %}

                <div class="category-preview col-xs-6 col-sm-4 ">
                    <h2>{{ category | first | capitalize }}</h2>
                    <a href='{{ "category/" | append: category.first | prepend: site.baseurl }}'><img src='{{ "img/" | append: category.first | prepend: site.baseurl }}-thumbnail.jpg' alt="category-image"></a>
                </div>
            {% endfor %}
        </section>
    </div>
</div>
